* {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid; */
    padding: 5px;
    gap: 10px;
    width: 70%;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    height: 50px;
    /* border: 1px solid; */
    padding: 10px;
    transition: ease-in-out 0.3s;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 250px;
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    height: 50px;
    /* border: 1px solid; */
    padding: 10px;
    transition: ease-in-out 0.3s;
}

button {
    height: 30px;
    width: 80px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;
    font-size: 18px;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

button:hover,.middle:hover {
    background-color: whitesmoke;
}
button:active{
    background-color: darkgray;
}

@media screen and (max-width:700px){
    .top,.middle,.bottom {
        width: 500px;
    }
}
@media screen and (max-width:600px){
    .top,.middle,.bottom {
        width: 450px;
    }
}
@media screen and (max-width:500px){
    .top,.middle,.bottom {
        width: 380px;
    }
}
@media screen and (max-width:400px){
    .top,.middle,.bottom {
        width: 300px;
    }
}
@media screen and (max-width:300px){
    .top,.middle,.bottom {
        width: 240px;
    }
}

.hide {
    display: none;
}

.show {
    display: flex;
}

#answer1, #answer2, #answer3, #answer4, #answer5,
#answer6, #answer7, #answer8, #answer9, #answer10 {
  display: none;
background-color: rgba(255, 0, 0, 0.2);
}

#question1, #question2, #question3, #question4, #question5,
#question6, #question7, #question8, #question9, #question10 {
    background-color: rgba(0, 123, 255, 0.2);
}

/* Tambahkan selector lebih spesifik */
#answer1.show, #answer2.show, #answer3.show, #answer4.show, #answer5.show,
#answer6.show, #answer7.show, #answer8.show, #answer9.show, #answer10.show {
  display: flex;
}

#card1 {display: flex;}
#card2, #card3, #card4, #card5, #card6, #card7, #card8, #card9, #card10 {display: none;}

.editCard {
    display: none;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 60%;
    height: 80%;
    flex-direction: column;
    row-gap: 10px;
    padding: 20px 10px;
    border: 1px solid;
}

@media screen and (max-width:700px) {
    .editCard {
        width: 80%;
    }
}

.editCard textarea {
    min-height: 50px;
    min-width: 90%;
    max-width: 90%;
    padding: 5px;
}